.drop-down-input-active {
  z-index: 100000;
}

.applications-list-wrapper {
  box-sizing: border-box;
  border: 1px solid red;
  padding: 30px;
  height: 200px;
  overflow: auto;
  background: white;

  .application-item {
    margin-bottom: 20px;
  }
}

.mat-form-field-wrapper {
  margin: 0!important;
  padding: 0!important;
}

.mat-form-field {
  // width: 400px;
  width: 100%;
}

.search-input-element-wrapper {
  display: inline-block;
  width: 100%;
}
